<!doctype html>
<html lang='pt-BR'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block head %}
        {% if _page!="" %}
            <title>{{ _page }} | {{ _title }}</title>
        {% else %}
            <title>{{ _title }}</title>
        {% endif %}

        <!-- ==== Document Meta ==== -->
        <meta name="author" content="Bionat">
        <meta name="description" content="Soluções biológicas para o equilíbrio natural da agricultura.">
        <meta name="keywords" content="">

        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ baseImg() }}favicon.png">


        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&amp;subset=latin&amp;' type='text/css' media='all' />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans%3Aregular%2Citalic%2C700%2C700italic&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;' type='text/css' media='all' />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&amp;subset=latin%2Clatin-ext&amp;' type='text/css' media='all' />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Mystery+Quest%3Aregular&amp;subset=latin%2Clatin-ext&amp;' type='text/css' media='all' />

        {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> #}

        <link rel='stylesheet' href='{{ baseCss() }}style.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ basePlugins() }}superfish/css/superfish.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ basePlugins() }}dl-menu/component.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ basePlugins() }}font-awesome-new/css/font-awesome.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ basePlugins() }}elegant-font/style.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ basePlugins() }}fancybox/jquery.fancybox.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ basePlugins() }}flexslider/flexslider.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ baseCss() }}style-responsive.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ baseCss() }}style-custom.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ basePlugins() }}masterslider/public/assets/css/masterslider.main.css' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ baseCss() }}master-custom.css' type='text/css' media='all' />

    {% endblock %}
</head>

<body data-rsssl=1 class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
<div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">
<!-- Begin page -->
 
    {% include "blocks/header.twig" %}

    {% block content %}{% endblock %}
 
    {% include "blocks/footer.twig" %}
    </div>
</body>

{% block jsBottom %}
    


    <script type='text/javascript' src='{{ baseJs() }}jquery/jquery.js'></script>
    <script type='text/javascript' src='{{ baseJs() }}jquery/jquery-migrate.min.js'></script>
    <script>
        var ms_grabbing_curosr = '{{ basePlugins() }}masterslider/public/assets/css/common/grabbing.html',
            ms_grab_curosr = '{{ basePlugins() }}masterslider/public/assets/css/common/grab.html';
    </script>
    <script type='text/javascript' src='{{ basePlugins() }}superfish/{{ baseJs() }}superfish.js'></script>
    <script type='text/javascript' src='{{ baseJs() }}hoverIntent.min.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}dl-menu/modernizr.custom.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}dl-menu/jquery.dlmenu.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}jquery.easing.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}fancybox/jquery.fancybox.pack.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}fancybox/helpers/jquery.fancybox-media.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}fancybox/helpers/jquery.fancybox-thumbs.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}flexslider/jquery.flexslider.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}jquery.isotope.min.js'></script>
    <script type='text/javascript' src='{{ baseJs() }}plugins.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}masterslider/public/assets/{{ baseJs() }}masterslider.min.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}jquery.transit.min.js'></script>
    <script type='text/javascript' src='{{ basePlugins() }}gdlr-portfolio/gdlr-portfolio-script.js'></script>



    <!-- App js -->
    <script src="{{ baseJs() }}script.js"></script>


    <script>
    (function ( $ ) {
        "use strict";

        $(function () {
            var masterslider_d1da = new MasterSlider();

            // slider controls
			masterslider_d1da.control('arrows'     ,{ autohide:true, overVideo:true  });
			masterslider_d1da.control('bullets'    ,{ autohide:false, overVideo:true, dir:'h', align:'bottom', space:6 , margin:25  });
            // slider setup
            masterslider_d1da.setup("slider_1", {
				width           : 1140,
				height          : 800,
				minHeight       : 0,
				space           : 0,
				start           : 1,
				grabCursor      : false,
				swipe           : true,
				mouse           : false,
				keyboard        : true,
				layout          : "fullwidth",
				wheel           : false,
				autoplay        : false,
                instantStartLayers:false,
				mobileBGVideo:false,
				loop            : true,
				shuffle         : false,
				preload         : 0,
				heightLimit     : true,
				autoHeight      : false,
				smoothHeight    : true,
				endPause        : false,
				overPause       : true,
				fillMode        : "fill",
				centerControls  : true,
				startOnAppear   : false,
				layersMode      : "center",
				autofillTarget  : "",
				hideLayers      : false,
				fullscreenMargin: 0,
				speed           : 20,
				dir             : "h",
				parallaxMode    : 'swipe',
				view            : "basic"
            });
            

            
            $("head").append( "<link rel='stylesheet' id='ms-fonts'  href='http://fonts.googleapis.com/css?family=Montserrat:regular,700%7CCrimson+Text:regular' type='text/css' media='all' />" );

            window.masterslider_instances = window.masterslider_instances || {};
            window.masterslider_instances["5_d1da"] = masterslider_d1da;
         });
        
    })(jQuery);
    </script>


{% endblock %}
</body>
</html>
