{% extends 'layout/default.twig' %}

{% block title %}
    {{ _title }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}




<div class="greennature-page-title-wrapper header-style-5-title-wrapper" style="background-image: url({{ baseImg() }}page-title-background.jpg)">
            <div class="greennature-page-title-overlay"></div>
            <div class="greennature-page-title-container container">
                <h1 class="greennature-page-title">Eventos</h1>
                <span class="greennature-page-caption">Caption placed here</span>
            </div>
        </div>
        <!-- is search -->
        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->

                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <div class="with-sidebar-container container">
                        <div class="with-sidebar-left eight columns">
                            <div class="with-sidebar-content twelve columns">
                                <section id="content-section-1">
                                    <div class="section-container container">
                                        <div class="blog-item-wrapper">
                                            <div class="blog-item-holder">
                                                <div class="greennature-item greennature-blog-full">
                                                    <div class="greennature-ux greennature-blog-full-ux">
                                                        <article id="post-862" class="post-862 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-link tag-news">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="{{ path_for('evento') }}"> <img src="{{ baseImg() }}evento-image.jpg" alt="" width="750" height="330" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">09</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <div class="blog-content-wrapper">
                                                                    <header class="post-header">
                                                                        <h3 class="greennature-blog-title"><a href="{{ path_for('evento') }}">Magna pars studiorum</a></h3>

                                                                        <div class="clear"></div>
                                                                    </header>
                                                                    <!-- entry-header -->

                                                                    <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere. Magna pars studiorum, prodita quaerimus. Magna pars studiorum, prodita quaerimus. Fabio vel iudice vincam, sunt in culpa...
                                                                        <div class="clear"></div><a href="{{ path_for('evento') }}" class="excerpt-read-more">Saiba Mais</a></div>
                                                                </div>
                                                                <!-- blog content wrapper -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                                <div class="greennature-item greennature-blog-full">
                                                    <div class="greennature-ux greennature-blog-full-ux">
                                                        <article id="post-862" class="post-862 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-link tag-news">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="{{ path_for('evento') }}"> <img src="{{ baseImg() }}evento-image.jpg" alt="" width="750" height="330" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">09</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <div class="blog-content-wrapper">
                                                                    <header class="post-header">
                                                                        <h3 class="greennature-blog-title"><a href="{{ path_for('evento') }}">Magna pars studiorum</a></h3>
                                                                        <div class="clear"></div>
                                                                    </header>
                                                                    <!-- entry-header -->

                                                                    <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere. Magna pars studiorum, prodita quaerimus. Magna pars studiorum, prodita quaerimus. Fabio vel iudice vincam, sunt in culpa...
                                                                        <div class="clear"></div><a href="{{ path_for('evento') }}" class="excerpt-read-more">Saiba Mais</a></div>
                                                                </div>
                                                                <!-- blog content wrapper -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                                <div class="greennature-item greennature-blog-full">
                                                    <div class="greennature-ux greennature-blog-full-ux">
                                                        <article id="post-862" class="post-862 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-link tag-news">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="{{ path_for('evento') }}"> <img src="{{ baseImg() }}evento-image.jpg" alt="" width="750" height="330" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">09</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <div class="blog-content-wrapper">
                                                                    <header class="post-header">
                                                                        <h3 class="greennature-blog-title"><a href="{{ path_for('evento') }}">Magna pars studiorum</a></h3>

                                                                        <div class="clear"></div>
                                                                    </header>
                                                                    <!-- entry-header -->

                                                                    <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere. Magna pars studiorum, prodita quaerimus. Magna pars studiorum, prodita quaerimus. Fabio vel iudice vincam, sunt in culpa...
                                                                        <div class="clear"></div><a href="{{ path_for('evento') }}" class="excerpt-read-more">Saiba Mais</a></div>
                                                                </div>
                                                                <!-- blog content wrapper -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="greennature-pagination"><span aria-current='page' class='page-numbers current'>1</span>
                                                <a class='page-numbers' href='page/2/index.html'>2</a>
                                                <a class='page-numbers' href='page/3/index.html'>3</a>
                                                <a class="next page-numbers" href="page/2/index.html">Próximo &rsaquo;</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </section>
                            </div>

                            <div class="clear"></div>
                        </div>

                        <div class="greennature-sidebar greennature-right-sidebar four columns">
                            <div class="greennature-item-start-content sidebar-right-item">
                                <div id="search-3" class="widget widget_search greennature-item greennature-widget">
                                    <div class="gdl-search-form">
                                        <form method="get" id="searchform" action="https://demo.goodlayers.com/greennature//">
                                            <div class="search-text" id="search-text">
                                                <input type="text" name="s" id="s" autocomplete="off" data-default="Pesquisar eventos..." />
                                            </div>
                                            <input type="submit" id="searchsubmit" value="" />
                                            <div class="clear"></div>
                                        </form>
                                    </div>
                                </div>
                         
                                <div id="gdlr-recent-portfolio-widget-2" class="widget widget_gdlr-recent-portfolio-widget greennature-item greennature-widget">
                                    <h3 class="greennature-widget-title">Últimos eventos</h3>
                                    <div class="clear"></div>
                                    <div class="greennature-recent-port-widget">
                                        <div class="recent-post-widget">
                                            <div class="recent-post-widget-thumbnail">
                                                <a href="../portfolio/wind-energy/index.html"><img src="{{ baseImg() }}eventos_recentes.jpg" alt="" width="150" height="150" /></a>
                                            </div>
                                            <div class="recent-post-widget-content">
                                                <div class="recent-post-widget-title"><a href="../portfolio/wind-energy/index.html">Wind Energy</a></div>
                                                <div class="recent-post-widget-info">
                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="../2013/12/04/index.html">04 Dec 2013</a></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="recent-post-widget">
                                            <div class="recent-post-widget-thumbnail">
                                                <a href="../portfolio/elephant-sanctuary/index.html"><img src="{{ baseImg() }}eventos_recentes.jpg" alt="" width="150" height="150" /></a>
                                            </div>
                                            <div class="recent-post-widget-content">
                                                <div class="recent-post-widget-title"><a href="../portfolio/elephant-sanctuary/index.html">Elephant Sanctuary</a></div>
                                                <div class="recent-post-widget-info">
                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="../2013/12/04/index.html">04 Dec 2013</a></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="recent-post-widget">
                                            <div class="recent-post-widget-thumbnail">
                                                <a href="../portfolio/conservation-volunteering/index.html"><img src="{{ baseImg() }}eventos_recentes.jpg" alt="" width="150" height="150" /></a>
                                            </div>
                                            <div class="recent-post-widget-content">
                                                <div class="recent-post-widget-title"><a href="../portfolio/conservation-volunteering/index.html">Conservation Volunteer</a></div>
                                                <div class="recent-post-widget-info">
                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="../2013/12/04/index.html">04 Dec 2013</a></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                      
             
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>
        <!-- content wrapper -->






{% endblock %}


{% block jsBottom %}
    {{ parent() }}
{% endblock %}