{% extends 'layout/default.twig' %}

{% block title %}
    {{ _title }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
   

<div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->

                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <section id="content-section-1">
                        <div class="greennature-full-size-wrapper gdlr-show-all no-skin" style="padding-bottom: 0px;  background-color: #ffffff; ">
                            <div class="greennature-master-slider-item greennature-slider-item greennature-item" style="margin-bottom: 0px;">
                                <!-- MasterSlider -->
                                <div id="P_slider_1" class="master-slider-parent ms-parent-id-1">

                                    <!-- MasterSlider Main -->
                                    <div id="slider_1" class="master-slider ms-skin-default">

                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="{{baseImg()}}slider-1.jpg" />

                                            <a href="#" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987" data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="208" data-origin="ml" data-position="normal">Learn More</a>

                                            <div class="ms-layer  msp-cn-1-3" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="105" data-origin="ml" data-position="normal">
                                                The Earth</div>

                                            <div class="ms-layer  msp-cn-1-2" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="325" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-5" data-origin="ml" data-position="normal">
                                                We can heal</div>

                                            <div class="ms-layer  msp-cn-1-1" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-100" data-origin="ml" data-position="normal">
                                                Together</div>

                                        </div>
                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="{{baseImg()}}slider-2.jpg" />

                                            <a href="#" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987" data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="227" data-origin="ml" data-position="normal">Learn More</a>

                                            <div class="ms-layer  msp-cn-1-9" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="139" data-origin="ml" data-position="normal">
                                                Save Anim</div>

                                            <div class="ms-layer  msp-cn-1-7" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="383" data-offset-y="139" data-origin="ml" data-position="normal">
                                                als</div>

                                            <div class="ms-layer  msp-cn-1-5" style="" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="52" data-origin="ml" data-position="normal">
                                                Help Us</div>

                                        </div>
                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="{{baseImg()}}slider-3.jpg" />

                                            <div class="ms-layer  msp-cn-1-10" style="" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="425" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="82" data-origin="mc" data-position="normal">
                                                The Better Place</div>

                                            <div class="ms-layer  msp-cn-1-13" style="" data-effect="t(true,n,n,500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-15" data-origin="mc" data-position="normal">
                                                Make This World</div>

                                        </div>

                                    </div>
                                    <!-- END MasterSlider Main -->

                                </div>
                                <!-- END MasterSlider -->


                            </div>
                            <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-2">
                        <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-brown-column-service" style="background-color: #2d2418;  border-top: 5px solid #3f3221; padding-top: 0px; padding-bottom: 0px; ">
                            <div class="container">
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2" style="margin-bottom: 0px;">
                                            <div class="column-service-image"><img src="{{ baseImg() }}icon-service-1.png" alt="" width="80" height="80" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Biodefensivos</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Egestas Dolor Risus.</p>
                                                </div><a class="column-service-read-more" href="#">Ver mais</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2-bg" style="margin-bottom: 0px;background-color: #3f3221;">
                                            <div class="column-service-image"><img src="{{ baseImg() }}icon-service-2.png" alt="" width="80" height="80" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Save Our Water</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero. Nullam quis risus eget urna mollis ornare vel eu leo. Egestas Dolor Risus.</p>
                                                </div><a class="column-service-read-more" href="#">Learn More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2" style="margin-bottom: 0px;">
                                            <div class="column-service-image"><img src="{{ baseImg() }}icon-service-3.png" alt="" width="80" height="80" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Resultados comprovados</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                </div><a class="column-service-read-more" href="#">Ver mais</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-3">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin" id="greennature-parallax-wrapper-1" data-bgspeed="0.11" style="background-image: url('{{ baseImg() }}donation-bg.jpg'); padding-top: 90px; padding-bottom: 65px; ">
                            <div class="container">
                                <div class="six columns">
                                    <div class="greennature-item greennature-action-ads-item" style="height: 300px;background: url('{{ baseImg() }}donation-bg-1.jpg'); ">
                                        <h3 class="action-ads-title" style="color: #facc2e;">Biossoluções</h3>
                                        <div class="action-ads-caption greennature-skin-info">Your money can cure this earth</div>
                                        <div class="action-ads-divider" style="background: #facc2e;"></div>
                                        <div class="action-ads-content">
                                            <p>São soluções biológicas para o equilíbrio natural no controle de pragas da agricultura.</p>
                                            <a class="action-ads-button large greennature-button greennature-lb-payment" href="#" style="color: #6d5b1c;background-color: #fec428;">Ver mais</a></div>
                                    </div>
                                </div>
                                <div class="six columns">
                                    <div class="greennature-item greennature-action-ads-item" style="height: 300px;background: url('{{ baseImg() }}donation-bg-2.jpg'); ">
                                        <h3 class="action-ads-title" style="color: #5dc269;">Manejo Integrado de Pragas</h3>
                                        <div class="action-ads-caption greennature-skin-info">Your voice does matter</div>
                                        <div class="action-ads-divider" style="background: #5dc269;"></div>
                                        <div class="action-ads-content">
                                            <p>Quando bem empregada, a técnica do Manejo Integrado de Pragas e Doenças (MIP) limita os efeitos potenciais prejudiciais dos pesticidas químicos à saúde pública e ao ambiente natural.</p>
                                            <a class="action-ads-button large greennature-button" style="color: #ffffff;background-color: #5dc269;" href="#">Conheça</a></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
              
                    <section id="content-section-5">
                        <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-service-half greennature-half-bg-wrapper" style="background-color: #f5f5f5; padding-bottom: 20px; ">
                            <div class="greennature-half-bg greennature-bg-solid" style="background-image: url({{baseImg()}}shutterstock_133689230.jpg);"></div>
                            <div class="container">
                                <div class="six columns">
                                    <div class="greennature-item greennature-content-item"></div>
                                </div>
                                <div class="six columns">
                                    <div class="greennature-item greennature-icon-with-list-item">
                                        <div class="list-with-icon-ux greennature-ux">
                                            <div class="list-with-icon greennature-left">
                                                <div class="list-with-icon-image"><img src="{{ baseImg() }}icon-1.png" alt="" width="80" height="80" /></div>
                                                <div class="list-with-icon-content">
                                                    <div class="list-with-icon-title greennature-skin-title">Custo x Benefício</div>
                                                    <div class="list-with-icon-caption">
                                                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="list-with-icon-ux greennature-ux">
                                            <div class="list-with-icon greennature-left">
                                                <div class="list-with-icon-image"><img src="{{ baseImg() }}icon-2.png" alt="" width="80" height="80" /></div>
                                                <div class="list-with-icon-content">
                                                    <div class="list-with-icon-title greennature-skin-title">Performance</div>
                                                    <div class="list-with-icon-caption">
                                                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="list-with-icon-ux greennature-ux">
                                            <div class="list-with-icon greennature-left">
                                                <div class="list-with-icon-image"><img src="{{ baseImg() }}icon-3.png" alt="" width="80" height="80" /></div>
                                                <div class="list-with-icon-content">
                                                    <div class="list-with-icon-title greennature-skin-title">Amiga do meio ambiente</div>
                                                    <div class="list-with-icon-caption">
                                                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                
                    <section id="content-section-7">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-newsletter" id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('{{ baseImg() }}newsletter-bg.jpg'); padding-top: 145px; padding-bottom: 60px; ">
                            <div class="container">
                                <div class="greennature-title-item" style="margin-bottom: 45px;">
                                    <div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-large ">
                                        <div class="greennature-item-title-container container">
                                            <div class="greennature-item-title-head">
                                                <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Se inscreva em nossa newsletter!</h3>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="greennature-subscribe-item greennature-item">
                                    <div class="greennature-newsletter-subscribe">

                                        <div class="newsletter newsletter-subscription">
                                            <form method="post" action="#" onsubmit="return newsletter_check(this)">
                                                <input class="newsletter-email" type="email" name="ne" size="30" required placeholder="Informe se e-mail" />
                                                <input class="newsletter-submit greennature-button" type="submit" value="Se inscreva!" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
            
                    
                </div>
                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>

{% endblock %}


{% block jsBottom %}
    {{ parent() }}
{% endblock %}
